<div class="list-action mb-2">
  <%= link_to new_admin_user_path, class: "btn btn-primary", title: "Add User" do %>
    <i class="fas fa-plus"></i>
    <%= t "Add User"%>
  <% end %>
</div>

<div class="card card-outline card-primary">
  <div class="card-header">
    <h3 class="card-title"><%=t "user list" %></h3>
    <div class="card-tools"></div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%=user.id%></td>
            <td><%=user.username%></td>
            <td><%=user.email%></td>
            <td><%=user.role.name%></td>
            <td class="text-right">
              <%= link_to [:admin,user], class: "btn btn-primary btn-sm", title: "View User" do %>
                <i class="fas fa-search"></i>
              <% end %>
              <%= link_to edit_admin_user_path(user), class: "btn btn-info btn-sm", title: "Edit User" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
              <%= link_to [:admin,user], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm", title: "Delete User" do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
