<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <%#= image_pack_tag "media/images/AdminLTELogo.png", class: 'brand-image img-circle elevation-3', alt: 'AdminLTE Logo', style: "opacity: .8" %>
    <%= image_pack_tag "media/images/logo-admin-icon-white.svg", class: 'ml-2 mr-2', alt: 'Admin Logo' %>
    <span class="brand-text font-weight-light">Admin<strong>BASE</strong></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_pack_tag "media/images/avatar5.png", class: 'img-circle elevation-2', alt: 'User Image' %>
      </div>
      <div class="info">
        <a href="#" class="d-block"> <%=current_user.username%> </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <%= link_to admin_root_path, :class => "nav-link #{active_class?(admin_root_path)}" do %>
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
          <% end %>
        </li>
        <li class="nav-item <%=active_menu?(admin_users_path)%> <%=active_menu?(admin_roles_path)%>">
          <%= link_to "#", :class => "nav-link #{active_menu?(admin_users_path, 'link')} #{active_menu?(admin_roles_path, 'link')}" do %>
            <i class="nav-icon fas fa-users"></i>
            <p>Users <i class="right fas fa-angle-left"></i></p>
          <% end %>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to admin_users_path, :class => "nav-link #{active_class?(admin_users_path)}" do %>
                <i class="nav-icon fas fa-user nav-icon"></i>
                <p>List Users</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_admin_user_path, :class => "nav-link #{active_class?(new_admin_user_path)}" do %>
                <i class="nav-icon fas fa-user-plus nav-icon"></i>
                <p>New User</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_roles_path, :class => "nav-link #{active_class?(admin_roles_path)}" do %>
                <i class="nav-icon fas fa-user-cog nav-icon"></i>
                <p>Roles</p>
              <% end %>
            </li>
            <li class="nav-item">
              <a href="/admin/permissions" class="nav-link">
                <i class="fas fa-user-lock nav-icon"></i>
                <p>Permissions</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Simple Link
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
